#company-container {
	width:100%;
	max-width:500px;
	margin: 0 auto;
	padding-bottom:70px;
}
#company-container h2 {
	text-align:center;
	line-height:50px;
	border: 1px solid black;
}
#company-container #company-img-div {
	width:100%;
}
#company-container #company-img-div #company-img {
	width:100%;
	height:auto;
}
#company-container .company-top {
	display:flex;
	border-bottom:2px solid #c5c5c5;
}
#company-container .company-top>:first-child {
	width:80%;
}
#company-container .company-top>:last-child {
	width:20%;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
}
#company-container .comp-title {
	font-size:1.5rem;
	font-weight:bold;
	padding:10px 10px 0 20px;
}
#company-container .star-rated{
	padding-left:20px;
}
#company-container .star-rated a{
	text-decoration: none;
	color:#bbb;
	font-size:1.2rem;
	margin-top:-10px;
	overflow:hidden;
	transition:color 0.5s;
}
#company-container .star-rated a:visited{
	color:#bbb;
}
#company-container .active-star-rated {
	color:orange !important;
}
#company-container a {
	text-decoration:none;
}
#company-container a:visited {
	color:black;
}
#company-container .comp-review {
	padding:10px 0 10px 20px;
	cursor:pointer;
}
#company-container .comp-room{
	display:inline-block;
	font-size:1.2rem;
	font-weight:bold;
	padding:10px 10px 0 20px;
}
#company-container #rv-button {
	border-radius: 5px;
	background-color: #e2e2e2;
	margin-right: 10px;
	border: none;
	float: right;
}
#company-container .comp-info{
	padding:10px 10px 0 20px;
}
#company-container #comp-price{
	justify-content: space-between;
	display: flex;
	margin: 10px 0 10px 0;

}
#company-container #detail-review {
	margin: 10px 0 10px 0;	
}