@charset "UTF-8";
#headcount-modal {
	
}
#headcount-modal .modal-content{
	width:100%;
	height: calc(100% - 100px);
}
#headcount-modal .modal-content>div{
	display:block;
	position:relative;
	margin: 0 auto;
	padding-top: 15px;
	width:70%;
	height: calc(100% / 4);
	border-bottom: 0.5px solid #c5c5c5;
}
#headcount-modal .modal-content .headcount-label{
	display:inline-block;
	position:absolute;
	left:0;
}

#headcount-modal .modal-content .headcount-updown-button{
	display:inline-block;
	position:absolute;
	right:0;
	padding-top:10px;
}
#headcount-modal .modal-content .headcount-updown-button button {
	border:none;
	background:none;
	filter : opacity(0.5) drop-shadow(0 0 0 #c5c5c5);
}