main {
    padding-top:200px;
    padding-bottom: 70px;
}
@media(max-width : 1079px) {
    main {
        display:block;
    }
    .card {
        margin:10px auto;
    }
}
@media(min-width : 1080px){
    main{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        margin : 10px 1% 10px 0;
    }
}
.card {
    border-radius: 20px;
    cursor: pointer;
}
.card img {
    height:100% !important;
}
.card-body {
    padding-left:10px;
}
.card-title {
	font-weight: bold;
}
.star-rated {
    padding-bottom: 8px;
}
.card-body p {
    font-size: 14px;
    margin-bottom: 5px;
}