.modal{
    width:100%;
    height:100%;
    margin: 0 auto;
    position:fixed;
    left:0;
    right:0;
    top:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    backdrop-filter: brightness(40%);
    transition: all 0.2s ease-in;
    display:flex;
    visibility:hidden;
}

.modal-active {
	visibility : visible;
	top:0;
}
.modal-active-background {
	overflow:hidden;
}
.mini-modal-box{
    width:80%;
    max-width: 540px;
    height:50vh;
    background: white;
    border: 1px solid #c5c5c5;
    border-radius: 20px;
    position:relative;
}

.modal-box{
    width:100%;
    max-width: 780px;
    height:80vh;
    background: white;
    border: 1px solid #c5c5c5;
    border-radius: 20px;
    position:relative;
}
.modal-title{
    width:100%;
    height: 50px;
    position:relative;
    text-align: center;
}
.modal h5, .mini-modal h5{
    font-size: 1rem;
    font-weight: bold;
    line-height: 50px;
}
.modal-close-button{
    position:absolute;
    top:0;
    right:20px;
    line-height: 50px;
    cursor: pointer;
}
.modal-content {
	display:block;
    overflow: auto;
    overflow-y:hidden;
    max-height: calc(50vh - 130px);
    margin-top:5px;
    border:none;
}
#location-modal .modal-content {
	display:flex !important;
	flex-direction:row;
}
.modal-footer{
    width:100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    border:none;
}
.modal-footer button[type="reset"]{
    position: absolute;
    left:30%;
    border: none;
    background: #fff;
    line-height: 69px;
    padding:0;
    font-size:1rem;
    font-weight: bold;
}
.modal-footer button[type="button"]{
    position: absolute;
    right:30%;
    border:2px solid black;
    border-radius: 10px;
    background: #dddddd;
    color:black;
    padding:5px;
    font-size:1rem;
    font-weight: bold;
}