@charset "UTF-8";
#mypage-modal .modal-content{
	height:100%;
}
#profile-photo {
	margin-bottom: 0;
}

#mypage-box div {
	height:100%;
	margin: 40px 20px;
}
#profile-photo img {
	background: rgb(199, 199, 199);
	border-radius: 50%;
	float: left;
}

#profile-photo #mypage-logout {
	float: fight;
	margin: 10px 20px;
	border: none;
	padding: 5px;
	border-radius: 3px;
}

#progile-comment h3 {
	margin-bottom: 50px;
	color: lightgray;
}

#mypage-box hr {
	clear: both;
	color: lightgray;
	margin: 20px;
	border: 0.1px solid lightgray;
}

#mypage-box ul {
	padding: 0;
}

#mypage-box ul li {
	list-style: none;
	padding: 20px 15px 10px;
}

#mypage-box span {
	font-weight: bold;
	float: right;
}

#mypage-box a {
	color: black;
	text-decoration: none;
}